<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peras al Malbec</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1 class="color-violeta">Receta de Peras al Malbec</h1>
    <img src="../img/Peras al malbec.jpg" width="500" height="250" alt="Foto de Peras al Malbec"
    <br>
    <p>Peras al malbec es un postre que con verlo ya despierta todos tus sentidos.</p>
    <hr>
    <h2 class="color-azul">Lista de ingredientes</h2>
    <ul>
        <li>4 peras medianas</li>
        <li>1lt de vino tinto</li>
        <li>5 unidades de Anís </li>
        <li>1 palo de Canela Entera </li>
        <li>Ralladura de cascara de ½ naranja</li>
        <li>300gr de azúcar</li>
    </ul>
    <h2 class="color-azul">Lista de pasos</h2>
        <ol>
    <li>Cortar una rodaja fina de la base de la pera para que se apoye firme.</li>
    <li>En una cazuela u olla al fuego, agregar el vino, el azúcar y las cáscaras. Cocinar a fuego bajo hasta formar un almíbar.</li>
    <li>Luego, colocar las peras dentro de la olla, agregar la canela y cocinar de 15 a 30 minutos, bañando con el almíbar a cada rato.</li>
    <li>Pinchar con un palito de brochet para verificar que estén tiernas y no se desarmen.</li>
    <li>Servir con crema de leche montada o helado de crema.</li>
         </ol>
         <iframe width="500" height="250" src="https://www.youtube.com/embed/uj06bZHZxtI" title="PERAS AL MALBEC" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
        
<a href="https://www.paulinacocina.net/receta-de-peras-al-vino-tinto/35311/" target="_blank">
Leer la receta en <strong>Paulina Cocina</strong>
</a>
<br>
<a href="pastelDePapa.html"
<a>Leer la receta <em>Pastel de Papa</em></a>
<a>
<br>
<a href="../../index.html"
</a>Volver al inicio
<a></a>
</html>