/* SINTAXIS    

selector {
propiedad: valor;
}

*/
/* selector universal */
* {
    font-family: Arial, Helvetica, sans-serif;
}
/* selector de etiquetas */
p {
    color: blue;
}
/* selector de clase */
/* sintaxis del selector de la clase 

.nombredelaclase {}

*/
.color-verde {
    color: green;
}
/* selector de clase*/
/* sintaxis del selector de la clase
.nombre de la clase {}

*/
.color-rojo {
    color:red
}
/* selector de clase*/
/* sintaxis de la clase
.nombre de la clase {}

*/
.color-verde {
    color: green;
}
/* selector de la clase*/
/* sintaxis de la clase
.nombre de la clase {}
    
    */
    .color-naranja {
        color: orange;
    }
    /* selector de etiquetas */
p {
    color: red;
}
    /* selector de clase */
/* sintaxis del selector de la clase 

.nombredelaclase {}

*/
.color-violeta {
    color: violet;
}
/* selector de la clase*/
/* sintaxis de la clase
.nombre de la clase {}
    
    */
    .color-azul {
        color: blue;
    }